<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleInputName2">Booking Type </label>
            <select type="text" class="form-control">
                <option>Walk In</option>
                <option>By Phone</option>
                <option>By Mail</option>
                <option>By Web</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">.col-md-3</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-2">.col-md-2</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-8">.col-md-8</div>
</div>
<div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-8">.col-md-8</div>
    </div>
    <div></div>
</div>