$color-black:      rgb(0, 0, 0);
$color-black-80:   rgba(0, 0, 0, 0.8);
$color-black-70:   rgba(0, 0, 0, 0.7);
$color-black-60:   rgba(0, 0, 0, 0.6);
$color-black-50:   rgba(0, 0, 0, 0.5);
$color-blue:       rgb(0, 122, 255);
$color-blue-50:    rgba(0, 122, 255, 0.5);
$color-blue-30:    rgba(0, 122, 255, 0.3);
$color-light-blue: rgb(184, 216, 244);
$color-dark:       rgb(34, 34, 34);
$color-dark-trans: rgba(34, 34, 34, 0.9);
$color-darkgreen:  rgb(39,145,94);
$color-slategray:  #90a4ae;
$color-darkslategray:  rgb(38,50,56);
$color-green:      rgb(76,217,100);
$color-purple:     rgb(88, 86, 214);
$color-teal-blue:  rgb(90,200,250);
$color-red:        rgb(226, 10, 22);  // uaf red
$color-red-trans:  rgba(226, 10, 22, 0.5);  // uaf red transparent
$color-pink:       rgb(255,45,85);
$color-orange:     rgb(255,149,0);
$color-yellow:     rgb(255,204,0);
$color-light:      rgb(244,244,244);
$color-white:      rgb(255,255,255);
$color-white-80:   rgba(255,255,255,0.8);
$color-white-70:   rgba(255,255,255,0.7);
$color-white-60:   rgba(255,255,255,0.6);
$color-white-50:   rgba(255,255,255,0.5);
$color-lines:      rgb(206,206,210);
$color-white-background: rgb(239,239,244);
$color-gray-10: rgba(191, 191, 192, 0.1);
$color-gray-20: rgba(191, 191, 192, 0.2);
$color-gray-30: rgba(191, 191, 192, 0.3);
$color-gray-40: rgba(191, 191, 192, 0.4);
$color-gray: rgb(128, 128, 128);
$color-light-gray: rgb(180, 180, 180);
$color-dark-gray: rgb(150, 150, 150);

$color-bg-success: #dff0d8;
$color-bg-info: #d9edf7;
$color-bg-warning: #fcf8e3;
$color-bg-danger: #f2dede;
$color-bg-primary: #d9edf7;
$color-bg-default: $color-white-80;
